<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        only show odd numbers
      </button>
      <br />
      <br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            *ngFor="let odd of oddNumbers"
          >
            {{ odd }}
          </li>
        </div>

        <!-- ! using ngIf -->
        <!-- <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: even % 2 !== 0 }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div> -->

        <!-- ! render if statement with ng-template -->
        <!-- ! basically, the *ngIf is running like this behind the scene. -->
        <!-- <ng-template [ngIf]="!onlyOdd">
          <div>
            <li
              class="list-group-item"
              [ngClass]="{ odd: even % 2 !== 0 }"
              *ngFor="let even of evenNumbers"
            >
              {{ even }}
            </li>
          </div>
        </ng-template> -->

        <!-- ! using custom property directive (*appUnless directive) -->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: even % 2 !== 0 }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>
      </ul>

      <p appBasicHighlight>style me with custom basic directives</p>
      <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">
        style me with custom better directives
      </p>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">value is 5</p>
        <p *ngSwitchCase="10">value is 10</p>
        <p *ngSwitchCase="100">value is 100</p>
        <p *ngSwitchDefault>default</p>
      </div>
      
    </div>
  </div>
</div>
