<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
      (ingredientAdded)="onIngredientAdded($event)"
      (ingredientDelete)="onIngredientDelete()"
      (ingredientClear)="onIngredientClear()"
      [selected]="selectedItem"
      [items]="ingredients"
    ></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <li
        *ngFor="let ingredient of ingredients; let i = index"
        class="list-group-item"
        style="cursor: pointer"
      >
        <a
          href="#"
          (click)="onClickItem(ingredient)"
          style="text-decoration: none"
          [ngClass]="{ active: ingredient === selectedItem }"
        >
          <div>name: {{ ingredient.name }}</div>
          <div>amount: ({{ ingredient.amount }})</div>
          <div>status: ({{ ingredient.status }})</div>
        </a>
        <button class="btn btn-primary" (click)="onUpdateStatus(i, 'sold')">
          Change to Sold
        </button>
        <button class="btn btn-primary" (click)="onUpdateStatus(i, 'available')">
          Change to Available
        </button>
      </li>
    </ul>
  </div>
</div>
