<div class="row">
  <div class="col-xs-12 my-3">
    <form #itemForm="ngForm" (ngSubmit)="onAddItem(itemForm)">
      <div class="row mb-3">
        <div class="col-sm-5 form-group mb-3">
          <label for="name">Name</label>
          <!--! using inputref -->
          <!-- <input type="text" id="name" class="form-control" #nameInput /> -->
          <!--! using ngform input-->
          <input
            type="text"
            id="name"
            class="form-control"
            name="itemName"
            ngModel
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <!--! using inputref -->
          <!-- <input type="number" id="amount" class="form-control" #amountInput /> -->
          <!--! using ngform input-->
          <input
            type="number"
            id="amount"
            class="form-control"
            name="itemAmount"
            ngModel
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success me-1"
            type="submit"
            [disabled]="itemForm.invalid"
          >
            Add
          </button>
          <button
            class="btn btn-danger me-1"
            type="button"
            (click)="onDeleteItem()"
            [disabled]="!selectedList"
          >
            Delete
          </button>
          <button
            class="btn btn-primary me-1"
            type="button"
            (click)="onClearItem()"
            [disabled]="itemList.length == 0"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
